<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PcComponentsMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PcComponentnsStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PcComponentsMonitor.Properties.Settings>
            <setting name="sendMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>Right, Bottom</value>
            </setting>
            <setting name="IgnoreTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WelcomeUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangeDefaultPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefualtPosY" serializeAs="String">
                <value>0</value>
            </setting>
        </PcComponentsMonitor.Properties.Settings>
        <PcComponentnsStats.Properties.Settings>
            <setting name="sendMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>Right, Bottom</value>
            </setting>
        </PcComponentnsStats.Properties.Settings>
    </userSettings>
</configuration>