<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PcComponentnsStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PcComponentnsStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PcComponentnsStats.Properties.Settings>
            <setting name="sendMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sdfsdfsdf" serializeAs="String">
                <value />
            </setting>
        </PcComponentnsStats.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PcComponentnsStats.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value>jupiter909990@gmail.com</value>
            </setting>
            <setting name="Dfhgf4578hfg" serializeAs="String">
                <value>MT3obVe4AoqTVaSMBuiceg==</value>
            </setting>
        </PcComponentnsStats.Properties.Settings>
    </applicationSettings>
</configuration>